body {
  background-color: #a9d7d1;
  font-family: sans-serif;
}

#title {
  text-align: center;
}

#survey-form {
  background-color: #f6f6f6;
  border-radius: 5px;
  max-width: 900px;
  max-width: 70%;
  height: 1000px;
  margin: auto;
}

#description {
  padding-top: 35px;
  padding-left: 35px;
  text-align: center;
  max-width: 80%;
}

#form-body {
  margin-top: -10px;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-column-gap: 0px;
  align-items: center;
}

label {
  text-align: right;
  margin-right: 40px;
  margin-top: 20px;
  /* max-width: 50%; */
  margin-left: 20px;

}

input {
  align-self: center;
  margin-top: 20px;
  margin-left: -20px;
  text-align: left;
  height: 30px;
  width: 65%;
  border-color: lightgray;
  border-style: solid;
  border-width: thin;
  padding-left: 5px;
  padding-right: 5px;
}

select {
  margin-left: -20px;
  margin-top: 20px;
  width: 10%;
  height: 30px;
  min-width: 150px;
  border-color: lightgray;
}

input[type="radio"] {
  margin-left: -20px;
  width: 30px;
}

input[type="checkbox"] {
  margin-left: -20px;
  width: 30px;
}

.radio-group {
  margin-top: 20px;
}

/* #recommendation-dropdown { */
.radio-label {
  margin-left: -10px;
  align-self: start;
}

.radio {
  margin-top: -20px;
  align-self: start ;
}

.radio-input {
  /* align-self: end; */
}

#recommendation-label {
  align-self: start;
}

textarea {
  width: 70%;
  margin-top: 20px;
  margin-left: -20px;
  padding: 5px 5px 5px 5px;
  border-color: lightgray;
  color: gray;
}

.wrapper {
  text-align: center;
}

.button {
  width: 100px;
  height: 40px;
  margin-top: 30px;
  border-radius: 5px;
  background-color: #59ace0;
  font-size: 18px;
  color: white;
  border-style: none;

  /* position: absolute; */
  /* top: 50%; */
  /* margin: auto;
  /* text-align: center; */
  /* justify-self: center; */
}

@media (max-width: 500px) {
  #survey-form {
    max-width: 85%;
  }

  #form-body {
    grid-template-columns: 1fr;
  }

  label, input, select {
    max-width: 80%;
    margin-top: 10px;
  }

  label {
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
  }

  input {
    margin-left: 20px;
  }

  select {
    margin-left: 20px;
  }

  .radio {
    margin-left: 40px;
    margin-top: -20px;
  }
}
