body {
  background-color: #89afaa;
  width: 100%;
  font-family: sans-serif;
}

#title {
  text-align: center;
}

#survey-form {
  background-color: #f6f6f6;
  border-radius: 5px;
  max-width: 900px;
  height: 1000px;
  margin: auto;
}

#description {
  padding-top: 20px;
  text-align: center;
}
