body {
  background-color: #a9d7d1;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 300;
}

#title {
  text-align: center;
}

#survey-form {
  background-color: #f6f6f6;
  border-radius: 5px;
  max-width: 900px;
  max-width: 70%;
  max-height: 1300px;
  margin: auto;
  padding: 20px 10px 20px 10px;
}

#description {
  text-align: center;
  margin: auto;
  max-width: 80%;
  margin-top: 15px;
  /* margin-bottom: 15px; */
  margin-bottom: 1em;
}

#form-body {
  margin-top: -10px;
  display: grid;
  grid-template-columns: 5fr 6fr;
  grid-column-gap: 15px;
  align-items: center;
}

.labels {
  /* align-self: right; */
  text-align: right;

  margin-left:auto;
  margin-right:0;

  margin-top: 10px;
  margin-bottom: 10px;
  width: 85%;
}

.labels-align-top {
  align-self: flex-start;
  padding-top: 5px;
}

.right-tab {
  align-self: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}

.radio-group, .checkbox-group {
  margin-top: 0px;
  /* padding-top: -5px; */
  align-self: flex-start;
  /* vertical-align: top; */
}

.radio-label, .checkbox-label {
  /* vertical-align: middle; */
  /* margin-top: 20px; */
  /* margin-left: 0px; */
}

.radio-item, .checkbox-item {
  /* margin-top: -20px; */
}

.radio-input, .checkbox-input {
  /* margin-left: -10px; */
  padding-left: -10px;
  /* margin-top: 10px; */
  padding-top: 0px;
  margin-right: -5px;
  margin-right: -10px;
  vertical-align: middle;
}

input {
  text-align: left;
  height: 30px;
  width: 65%;
  border-color: lightgray;
  border-style: solid;
  border-width: thin;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

select {
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  width: 10%;
  height: 35px;
  min-width: 150px;
  border-color: lightgray;
}

input[type="radio"] {
  width: 30px
  /* width: 100%; */
  /* height: 2em; */
  /* margin-top: 5px; */
}

input[type="checkbox"] {
  width: 30px;
}

textarea {
  width: 70%;
  /* margin-top: 20px; */
  padding: 5px 5px 5px 5px;
  border-color: lightgray;
  border-radius: 2px;
  color: gray;
}

.button-div {
  text-align: center;
  margin-top: 10px;
}

.button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: #59ace0;
  font-size: 18px;
  color: white;
  border-style: none;
}

@media (max-width: 500px) {
  #survey-form {
    /* max-width: 85%; */
    padding-left: 20px;
    padding-right: 20px;
  }

  #form-body {
    grid-template-columns: 1fr;
  }

  label, input, select {
    max-width: 80%;
    margin-top: 10px;
  }

  .labels {
    text-align: left;
    /* margin-top: 20px; */
  }

  .radio-item {
    margin-top: -20px;
  }

  textarea {
    margin-top: 20px;
  }
}
